<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2 th:text="'정수 5개를 입력 받아서 짝수, 홀수별 합계를 출력하세요'"></h2>
<form method="post" action="/index">
  숫자 1: <input type="number" name="num1"><br>
  숫자 2: <input type="number" name="num2"><br>
  숫자 3: <input type="number" name="num3"><br>
  숫자 4: <input type="number" name="num4"><br>
  숫자 5: <input type="number" name="num5"><br>
  <input type="submit" >
</form>
</body>
</html>