<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update_done" method="post">
  <input name="id" type="hidden" th:value="${member.id}">
  이메일: <input type="email" placeholder="email" name="memberEmail" th:value="${member.memberEmail}"><br>
  비밀번호: <input type="password" placeholder="password" name="memberPassword" th:value="${member.memberPassword}"><br>
  이름: <input type="text" placeholder="name" name="memberName" th:value="${member.memberName}"><br>
  <button type="submit">수정하기</button>
</form>
</body>
</html>