<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{fragments/menu::menuFragment}"></th:block>
이름 : <span th:text="${scoreData.name}"></span><br>
국어 : <span th:text="${scoreData.korean}"></span><br>
영어 : <span th:text="${scoreData.english}"></span><br>
수학 : <span th:text="${scoreData.math}"></span><br>
총점 : <span th:text="${scoreData.total}"></span><br>
평균 : <span th:text="${scoreData.avg}"></span>
</body>
</html>